/.vs/*
EndavaTechCourseBankApp.Test/obj/*
EndavaTechCourseBankApp.Test/bin/*

EndavaTechCourseBankApp.Infrastructure/bin/*
EndavaTechCourseBankApp.Infrastructure/obj/*

EndavaTechCourseBankApp.Application/bin/*
EndavaTechCourseBankApp.Application/obj/*
Client/obj/*
Client/bin/*

Server/bin/*
Server/obj/*

Shared/bin/*
Shared/obj/*

EndavaTechCourseBankApp.Domain/bin/*
EndavaTechCourseBankApp.Domain/obj/*